<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>30790087330-hl8sp2a1b30ectenk3uasm6q7kjq9fh7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30790087330-hl8sp2a1b30ectenk3uasm6q7kjq9fh7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>30790087330-087dfodjpsrq0v48ogfl56p1uc13mefg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBRJR4TUzfu3zTtBwLOxFUBBJNwlremk5M</string>
	<key>GCM_SENDER_ID</key>
	<string>30790087330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.rajeshiot.irrigation</string>
	<key>PROJECT_ID</key>
	<string>smart-irrigation-pump</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-irrigation-pump.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30790087330:ios:e13504483f1d4fc6e81dfb</string>
	<key>DATABASE_URL</key>
	<string>https://smart-irrigation-pump-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>